In [73]:
#1

joke = input("Press the enter key: ")
print("My IQ test results came back. They were negative")

Press the enter key:
My IQ test results came back. They were negative

In [74]:
#3
a = 5
print(a,end="\n")
a = a*2
print(a, end="\n")
a = a-1
print(a)

5
10
9

In [2]:
#4

a = 5
print(a, end='@')
a = a*2
print(a, end='@')
a = a-1
print(a)

5@10@9

In [75]:
#6

pi = 3.141592653589793238

rad = float(input("Enter the radius(cm): "))

calc = pi * rad * rad

area = round(calc,2)

print("The area of the circle is",area,"sq. units")

Enter the radius(cm): 5
The area of the circle is 78.54 sq. units

In [18]:
#7

a = int(input("Enter the marks of the subjects(#1): "))
b = int(input("Enter the marks of the subjects(#2): "))
c = int(input("Enter the marks of the subjects(#3): "))
d = int(input("Enter the marks of the subjects(#4): "))
e = int(input("Enter the marks of the subjects(#5): "))

sum = a + b + c + d + e
avg = sum/5

print("The average is ",avg)

Enter the marks of the subjects(#1): 89
Enter the marks of the subjects(#2): 78
Enter the marks of the subjects(#3): 80
Enter the marks of the subjects(#4): 94
Enter the marks of the subjects(#5): 77
The average is  83.6

In [23]:
#8

hCm = int(input("Enter the height(cm): "))

hIn = hCm/2.54
hIn2 =round(hIn,2)


hFt = hIn/12
hFt2 = round(hFt,2)


print("Your height in is Inches is ",hIn2,"in")
print("Your height in is Feet is ",hFt2,"ft")

Enter the height(cm): 180
Your height in is Inches is  70.87 in
Your height in is Feet is  5.91 ft

In [31]:
#9

num = int(input("Enter a number: "))

n1 = num*num
n2 = num*num*num

print(n1)
print(n2)

Enter a number: 4
16
64

In [38]:
#10

a = float(input('Enter the first side: '))
b = float(input('Enter the  second side: '))
c = float(input('Enter the  third side: '))

s = (a + b + c) / 2

area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
area1 = round(area, 2)

print("the area is",area1,"sq. units")

Enter the first side: 6
Enter the  second side: 7
Enter the  third side: 8
the area is 20.33 sq. units

In [41]:
#11 SIMPLE INTEREST

p  = int(input("Enter the Principal amount: "))
r = int(input("Enter the rate(per annum): "))
t = int(input("Enter the time period: "))

s_i = (p*r*t)/100

print("The Simple Interest is ",s_i)

Enter the Principal amount: 200
Enter the rate(per annum): 5
Enter the time period: 3
The Simple Interest is  30.0

In [48]:
#11 COMPOUND INTEREST

p  = int(input("Enter the Principal amount: "))
r = int(input("Enter the rate(per annum): "))
t = int(input("Enter the time period : "))

A = p * (1 + r/100)**t

In = A - p
In1 = round(In,2)
print("The Compound Interest is",In1)

Enter the Principal amount: 200
Enter the rate(per annum): 5
Enter the time period : 3
The Compound Interest is 31.53

In [50]:
#12

number = int(input("Enter a number: "))

print("The multiples are: ")
for i in range(1,6):
    print(number*i, end ="\n")

Enter a number: 5
The multiples are:
5
10
15
20
25

In [55]:
#13

name = input("Enter your name: ")
clas = input("Enter your class: ")
age = input("enter your age; ")

print(name," ,", clas," ,", age)
print("\n")
print(name,end="\n",)
print(clas, end="\n")
print(age)

Enter your name: Sam
Enter your class: SHS 2
enter your age; 20
Sam  , SHS 2  , 20


Sam
SHS 2
20

In [76]:
#14

num = int(input("Enter a nmuber: "))
if (num>=1) and (num<=7):
  i = num
  print(i, end="")
  i = i + 1
  print(i, end="")
  i = i + 1
  print(i, end="")  
    
else:
    print("The number should be 1-7")

Enter a nmuber: 4
456

In [72]:
#15

a = int(input("Enter the first number: "))
b = int(input("Enter the  second number: "))
c = int(input("Enter the third number: "))

num_list = []
num_list.append(a)
num_list.append(b)
num_list.append(c)

sum1_2 = a + b
sum2_3 = b + c

num_list[0] = sum1_2
num_list[1] = sum2_3

print(num_list[0], end="\n")
print(num_list[1], end="\n")
print(num_list[2], end="\n")

Enter the first number: 5
Enter the  second number: 2
Enter the third number: 3
7
5
3